-- Create the Guestbook table
create table public.guestbook (
  id uuid default gen_random_uuid() primary key,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null,
  user_id uuid references auth.users not null,
  name text not null,
  avatar_url text,
  message text not null,
  is_pinned boolean default false,
  liked_by text
);

-- Turn on Row Level Security (RLS)
alter table public.guestbook enable row level security;

-- Create Security Policy 1: ANYONE can READ the messages
create policy "Anyone can read guestbook entries" 
on public.guestbook for select 
using (true);

-- Create Security Policy 2: LOGGED IN USERS can INSERT new messages
create policy "Authenticated users can insert entries" 
on public.guestbook for insert 
to authenticated 
with check (auth.uid() = user_id);
